      <section class="section container-fluid h-100 bg-light text-dark justify-content-center">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center">

            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Recuperar contrasena</h5>
    
                  <!-- Multi Columns Form -->
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

                    <div class="form-group">
                      <label for="email" class="form-label">Email</label>
                      <%= f.email_field :email, {class:"form-control", id:"email", required: true} %>
                    </div>
                    
    
                    <div class="form-group">
                      <%= f.submit "Enviar", {class: "btn btn-primary"} %>
                    </div>

                    <% if resource.errors.any? %>
                        <div id="error_explanations" class="alert alert-danger col-md-12 text-center">
                            <% resource.errors.each do |error| %>
                                <p><%= error.full_message %></p>
                            <% end %>
                        </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <%= link_to 'Ir a inicio', "/" %>
          </div>
        </div>
      </section>