      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Informacion de la mision</h5>
    
                  <!-- Multi Columns Form -->
                  <%= form_with(model: misione) do |form| %>

                    <div class="col-md-6">
                      <label for="nombre" class="form-label">Nombre</label>
                      <%= form.text_field :nombre, {class:"form-control", id:"nombre", required: "true"} %>
                    </div>

                    <div class="col-md-6">
                      <label for="descripcion" class="form-label">Descripcion</label>
                      <%= form.text_field :descripcion, {class:"form-control", id:"descripcion"} %>
                    </div>

                    <div class="col-md-3">
                      <label for="fecha_inicio" class="form-label">Fecha inicio</label>
                      <%= form.date_field :fecha_inicio, min: Date.today, class: "form-control", id: "fecha_inicial", required: true %>
                    </div>

                    <div class="col-md-3">
                      <label for="fecha_final" class="form-label">Fecha final</label>
                      <%= form.date_field :fecha_final, min: Date.today, class: "form-control", id: "fecha_final", required: true %>
                    </div>
                    
                    <!-- <div class="col-md-6">
                      <label for="inputPassword5" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword5"> 
                    </div>
                   
                    <div class="col-md-6">
                      <label for="inputState" class="form-label">State</label>
                      <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div> -->
    
                    <div class="text-center">
                      <%= form.submit accion, {class: "btn btn-primary"} %>
                    </div>

                    <% if misione.errors.any? %>
                        <div id="error_explanations" class="alert alert-danger col-md-12 text-center">
                            <% misione.errors.each do |error| %>
                                <p><%= error.full_message %></p>
                            <% end %>
                        </div>
                    <% end %>
                  <% end %><!-- End Multi Columns Form -->
    
                </div>
              </div>
  
          </div>
        </div>
      </section>