

    <div class="pagetitle">
      <h1>Log de actividades</h1>
      <br/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Inicio', "/" %></li>
          <li class="breadcrumb-item active">Log de actividades</li>
        </ol>
      </nav>
    </div>

<section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center" >Administrar Log de actividades</h5>
  
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Hecho por (usuario id)</th>
                      <th scope="col">Actividad</th>
                      <th scope="col">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @log_actividades.each do |log_actividade| %>
                        <tr>
                            <th scope="row"><%= log_actividade.id %></th>
                            <td><%= log_actividade.usuario_id %></td>
                            <td><%= log_actividade.actividad %></td>
                            <td><%= log_actividade.created_at %></td>
                        </tr>
                    <% end %>
                  </tbody>
                  
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>

    <script>
        $( document ).ready(function() {
            $("#log_actividades").removeClass("collapsed");
        });
    </script>